Q1

In [1]:
import pandas as pd
df=pd.DataFrame({'A':[12,13,14],
                  'B':[15,16,17],
                  'C':[18,19,20]})

In [2]:
df.head()

    A   B   C
0  12  15  18
1  13  16  19
2  14  17  20

In [3]:
df.describe()

          A     B     C
count   3.0   3.0   3.0
mean   13.0  16.0  19.0
std     1.0   1.0   1.0
min    12.0  15.0  18.0
25%    12.5  15.5  18.5
50%    13.0  16.0  19.0
75%    13.5  16.5  19.5
max    14.0  17.0  20.0

In [9]:
df.dtypes

A    int64
B    int64
C    int64
dtype: object

In [8]:
df['A'].astype('float')

0    12.0
1    13.0
2    14.0
Name: A, dtype: float64

In [6]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

Q2

In [10]:
import pandas as pd
df=pd.DataFrame({'A':[12,13,14],
                  'B':[15,16,17],
                  'C':[18,19,20]})

In [12]:
def re_index(df):
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
    df_reindexed = df.reset_index(drop=True).set_index(new_index)
    return df_reindexed
re_index(df)

    A   B   C
1  12  15  18
3  13  16  19
5  14  17  20

Q3

In [8]:
import pandas as pd
df=pd.DataFrame({'Values':[10,20,30,40,50]})
df['Values'].rolling(window=3).sum()

0      NaN
1      NaN
2     60.0
3     90.0
4    120.0
Name: Values, dtype: float64

In [10]:
import pandas as pd
df=pd.DataFrame({'Values':[10,20,30,40,50,60]})
def add_three(df):
    first_three=df.iloc[0:3]['Values']
    output=first_three.sum()
    return output
add_three(df)

60

Q4

In [11]:
import pandas as pd
df=pd.DataFrame({'Text':['OHSAS 18000 is a series of standards and guidelines for occupational safety and health (OSH) management systems. ',' OSHAS 18000 is compatible with other management system standards, such as ISO 9000 (quality) and ISO 14000 (environmental).','OSHAS 18001: This is the standard that specifies the requirements for an OSH management system. It covers the policy, planning, implementation, operation, checking, and review of the system. It also provides guidance on how to conduct audits and certification of the system.','OSHAS 18002: This is the guideline that provides information and advice on how to apply OSHAS 18001. It covers the interpretation, implementation, and improvement of the system. It also provides examples and best practices of OSH management.','Contributing to the social and environmental sustainability of work and development, by ensuring the respect for human rights, dignity, and diversity, and the protection of natural resources and ecosystems.',
                         'Demonstrating the compliance and accountability of organizations to the legal and ethical obligations and expectations of OSH If you want to learn more a','Reducing the risks of work-related injuries, illnesses, and deaths, and improving the health and well-being of workers, employers, and the public.']})

In [12]:
df

                                                Text
0  OHSAS 18000 is a series of standards and guide...
1   OSHAS 18000 is compatible with other manageme...
2  OSHAS 18001: This is the standard that specifi...
3  OSHAS 18002: This is the guideline that provid...
4  Contributing to the social and environmental s...
5  Demonstrating the compliance and accountabilit...
6  Reducing the risks of work-related injuries, i...

In [21]:
df['word_count']=df['Text'].apply(lambda x: len(x.split()))

In [25]:
pd.set_option('display.max_colwidth',(1000))
df

                                                                                                                                                                                                                                                                                 Text  word_count
0                                                                                                                                                                   OHSAS 18000 is a series of standards and guidelines for occupational safety and health (OSH) management systems.           17
1                                                                                                                                                         OSHAS 18000 is compatible with other management system standards, such as ISO 9000 (quality) and ISO 14000 (environmental).          18
2  OSHAS 18001: This is the standard that specifies the requirements for an OSH management system. It covers the policy, planning, implementation, operation, checking, and review of the system. It also provides guidance on how to conduct audits and certification of the system.          42
3                                   OSHAS 18002: This is the guideline that provides information and advice on how to apply OSHAS 18001. It covers the interpretation, implementation, and improvement of the system. It also provides examples and best practices of OSH management.          37
4                                                                      Contributing to the social and environmental sustainability of work and development, by ensuring the respect for human rights, dignity, and diversity, and the protection of natural resources and ecosystems.          29
5                                                                                                                           Demonstrating the compliance and accountability of organizations to the legal and ethical obligations and expectations of OSH If you want to learn more a          24
6                                                                                                                                  Reducing the risks of work-related injuries, illnesses, and deaths, and improving the health and well-being of workers, employers, and the public.          21

Q5

DataFrame.size():
Represents the total number of elements in the DataFrame. This is calculated by multiplying the number of rows by the number of columns.

DataFrame.shape():
Returns a tuple of two integers representing the dimensions of the DataFrame. The first element is the number of rows, and the second element is the number of columns.

In [84]:
df=pd.DataFrame({'A':[3,8,6,2,9],
                'B':[5,2,9,3,1],
                'C':[1,7,4,5,2]})
print(df.size)
print(df.shape)

15
(5, 3)

Q6

pd.read_excel('file.xlsx') function is used to read a excel file.

Q7

In [35]:
import pandas as pd
df=pd.DataFrame({'Email':['pratik@gmail.com','subh@gmail.com','yash.mishra@gmail.com','john.doe@example.com','krish@gmail.com']})

In [36]:
def user_name(x):
    name=x.split('@')
    return name[0]

In [37]:
df['user name']=df['Email'].apply(user_name)

In [38]:
df

                   Email    user name
0       pratik@gmail.com       pratik
1         subh@gmail.com         subh
2  yash.mishra@gmail.com  yash.mishra
3   john.doe@example.com     john.doe
4        krish@gmail.com        krish

Q8

In [39]:
import pandas as pd
df=pd.DataFrame({'A':[3,8,6,2,9],
                'B':[5,2,9,3,1],
                'C':[1,7,4,5,2]})
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [45]:
df2=df[(df['A']>5)&(df['B']<10)]
df2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9

In [46]:
df3=pd.DataFrame({'Values':[12,13,18,1,90,23]})

In [47]:
df3['Values'].mean()

26.166666666666668

In [48]:
df3['Values'].median()

15.5

In [51]:
df3['Values'].std()

32.12112492841224

Q10

In [56]:
Date=pd.date_range(start='2023-10-1',end='2023-10-17')
df4=pd.DataFrame({'Sales':[220,140,300,213,146,500,600,700,123,777,554,708,890,768,987,897,980],
                 'Date':Date})

In [57]:
df4

    Sales       Date
0     220 2023-10-01
1     140 2023-10-02
2     300 2023-10-03
3     213 2023-10-04
4     146 2023-10-05
5     500 2023-10-06
6     600 2023-10-07
7     700 2023-10-08
8     123 2023-10-09
9     777 2023-10-10
10    554 2023-10-11
11    708 2023-10-12
12    890 2023-10-13
13    768 2023-10-14
14    987 2023-10-15
15    897 2023-10-16
16    980 2023-10-17

In [67]:
df4['MovingAverage']=df4['Sales'].rolling(window=7,min_periods=1).mean()

In [68]:
df4

    Sales       Date  MovingAverage
0     220 2023-10-01     220.000000
1     140 2023-10-02     180.000000
2     300 2023-10-03     220.000000
3     213 2023-10-04     218.250000
4     146 2023-10-05     203.800000
5     500 2023-10-06     253.166667
6     600 2023-10-07     302.714286
7     700 2023-10-08     371.285714
8     123 2023-10-09     368.857143
9     777 2023-10-10     437.000000
10    554 2023-10-11     485.714286
11    708 2023-10-12     566.000000
12    890 2023-10-13     621.714286
13    768 2023-10-14     645.714286
14    987 2023-10-15     686.714286
15    897 2023-10-16     797.285714
16    980 2023-10-17     826.285714

Q11

In [74]:
Date=pd.date_range(start='2023-10-1',end='2023-10-17')
df4=pd.DataFrame({'Date':Date})

In [77]:
df4['Weekday']=df['Date'].dt.day_name()

In [78]:
df4

         Date    Weekday
0  2023-10-01     Sunday
1  2023-10-02     Monday
2  2023-10-03    Tuesday
3  2023-10-04  Wednesday
4  2023-10-05   Thursday
5  2023-10-06     Friday
6  2023-10-07   Saturday
7  2023-10-08     Sunday
8  2023-10-09     Monday
9  2023-10-10    Tuesday
10 2023-10-11  Wednesday
11 2023-10-12   Thursday
12 2023-10-13     Friday
13 2023-10-14   Saturday
14 2023-10-15     Sunday
15 2023-10-16     Monday
16 2023-10-17    Tuesday